<div class="padding">
  <h3>My todos</h3>

  <mat-table [dataSource]="dataSource" class="mat-elevation-z8"
             matSort
             matSortActive="username"
             matSortDirection="asc">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No.</mat-header-cell>
      <mat-cell *matCellDef="let todo; let i = index"> {{i + 1}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.username}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="done">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Done</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.done}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="targetDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Target date</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{todo.targetDate | date}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
